*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

a {
  text-decoration: none;
  color: initial;
}

.contener {
  width: 100%;
}

ol {
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}

.resto__name {
  font-family: "Shrikhand", cursive;
  font-size: 4rem;
}

.header__logo {
  font-family: "Shrikhand", cursive;
  font-size: 3rem;
}

.footer__logo {
  font-family: "Shrikhand", cursive;
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}

.btn {
  padding: 20px;
  height: 100%;
  font-size: 1.5rem;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  box-shadow: grey 0px 5px 15px;
}

/* parti header + bouton return */
.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.header__return {
  position: absolute;
  font-size: 3rem;
  left: 4rem;
}

/* partie footer des paages du site */
.footer {
  width: 100%;
  padding: 2rem;
  background-color: #353535;
  display: flex;
  flex-direction: column;
  line-height: 4rem;
}
.footer__logo {
  margin-bottom: 3rem;
}
.footer__logo, .footer a, .footer i {
  color: #ffffff;
}

.footer i {
  margin-right: 1rem;
}

.fa-hands-helping {
  font-size: 1.5rem;
}

/* parti information et position */
.info {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.info__position {
  box-shadow: inset grey 0px 6px 6px -5px;
  background-color: #eaeaea;
  padding: 2rem;
  margin-bottom: 2rem;
}
.info__position > i {
  margin-right: 1rem;
}
.info__desc {
  padding: 20px;
}
.info__desc--grow-bolt {
  font-size: 2.7rem;
  font-weight: bold;
  padding-bottom: 10px;
}
.info__desc p:nth-child(2) {
  color: grey;
  font-size: 1.8rem;
}
.info__btn {
  margin: 4rem 0 8rem 0;
}

/* description fontionement du site */
.fonct {
  padding: 6rem 2rem;
}
.fonct__titre {
  font-size: 3rem;
  font-weight: bold;
}
.fonct__ordre__box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background-color: #f6f6f6;
  height: 7rem;
  margin: 2.8rem 0;
  border-radius: 1.8rem;
  box-shadow: grey 1px 1px 10px;
}
.fonct__ordre__box:hover {
  background-color: #f2eafb;
}
.fonct__ordre__box:hover > i {
  color: #9356DC;
}
.fonct__ordre__number {
  position: relative;
  left: -1rem;
  padding: 0.4rem;
  height: 2.5rem;
  width: 2.5rem;
  text-align: center;
  background-color: #9356DC;
  color: #f6f6f6;
  border-radius: 15px;
}
.fonct__ordre__icon {
  margin: 0 1.8rem;
  color: #9d9d9d;
}
.fonct__ordre__info {
  font-weight: bold;
  color: black !important;
}

/* section resto */
.resto {
  padding: 4rem 2rem;
  background-color: #f6f6f6;
}

/* Carte visuel des restos */
.prev-resto {
  display: inline-block;
  position: relative;
  margin: 1rem 0;
  width: 100%;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: grey 1px 1px 10px;
}
.prev-resto__cont {
  height: 70%;
}
.prev-resto__cont__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.prev-resto__info {
  padding: 2rem;
  position: relative;
  background-color: white;
}
.prev-resto__info__titre {
  font-size: 2rem;
}
.prev-resto__info__heart {
  position: absolute;
  right: 5%;
  top: 35%;
}
.prev-resto__new {
  display: inline-block;
  position: absolute;
  top: 5%;
  right: 5%;
  padding: 1rem;
  background-color: #99E2D0;
  color: #278870;
}

/*# sourceMappingURL=style.css.map */
