*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

a {
  text-decoration: none;
  color: initial;
}

.contener {
  width: 100%;
}

ol {
  list-style-type: none;
}

/* Animation du load spinner */
.load_spinner {
  display: flex;
  z-index: -1;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  animation: exit 3s linear 1;
}

.lettre {
  margin-bottom: 100px;
  animation: chargement 1s linear 5;
  color: #99E2D0;
}

/* animation changement de couleur */
@keyframes chargement {
  0% {
    color: #9356DC;
    text-shadow: 0 0 1rem #FF79DA;
  }
  70% {
    color: #99E2D0;
  }
  100% {
    color: #9356DC;
    text-shadow: 0 0 1rem #FF79DA;
  }
}
/* animation du delay des lettre */
.lettre:nth-child(1) {
  animation-delay: 0.1s;
}

.lettre:nth-child(2) {
  animation-delay: 0.2s;
}

.lettre:nth-child(3) {
  animation-delay: 0.3s;
}

.lettre:nth-child(4) {
  animation-delay: 0.4s;
}

.lettre:nth-child(5) {
  animation-delay: 0.5s;
}

.lettre:nth-child(6) {
  animation-delay: 0.6s;
}

.lettre:nth-child(7) {
  animation-delay: 0.7s;
}

.lettre:nth-child(8) {
  animation-delay: 0.8s;
}

/* animation pour retirer le load spinner de l'ecran */
@keyframes exit {
  0% {
    background-color: black;
    opacity: 1;
    z-index: 1;
  }
  90% {
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
/* Animation pour les coeur */
.fa-heart:hover {
  animation: anim-heart 1s linear 1 both;
}

@keyframes anim-heart {
  0% {
    color: #f6f6f6;
  }
  20% {
    -webkit-text-stroke: transparent;
  }
  100% {
    color: transparent;
    -webkit-text-stroke: transparent;
  }
}
/* deplacement de la coche des menu */
.box-plat:hover i {
  /* declanche l'animation rotation de l'icone */
  animation: rotateok 0.4s linear 1;
}

/* rotation icone ok */
@keyframes rotateok {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.box-plat:hover .plat__ok {
  animation: depgauche 0.4s linear 1 both;
}

@keyframes depgauche {
  0% {
    width: 0;
  }
  100% {
    width: 7rem;
  }
}
/* Annimation du defilement des plat des menu */
.box-plat {
  animation: defilement 0.5s ease-in 1 both;
}

.box-plat:nth-child(3) {
  animation-delay: 0s;
}

.box-plat:nth-child(4) {
  animation-delay: 0.2s;
}

.box-plat:nth-child(5) {
  animation-delay: 0.4s;
}

.box-plat:nth-child(6) {
  animation-delay: 0.6s;
}

@keyframes defilement {
  0% {
    bottom: -20px;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}

.cont__info__name {
  font-family: "Shrikhand", cursive;
  font-size: 2.4rem;
}

.type-plat__name {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.6rem;
}

.load_spinner {
  font-family: "Shrikhand", cursive;
  font-size: 5rem;
}

.header__logo {
  font-family: "Shrikhand", cursive;
  font-size: 3rem;
}

.footer__logo {
  font-family: "Shrikhand", cursive;
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}

.btn {
  padding: 20px;
  margin: auto;
  height: 100%;
  font-size: 1.6rem;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  box-shadow: grey 0px 1px 5px;
}
.btn:hover {
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: grey 1px 3px 12px;
}

.fa-heart {
  cursor: pointer;
  font-weight: 900 !important;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to bottom left, #9356DC, #FF79DA);
  color: #f6f6f6;
  -webkit-text-stroke: 1px black;
  position: absolute;
}

/* parti header + bouton return */
.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.header__return {
  position: absolute;
  font-size: 1.8rem;
  left: 1.5rem;
}

/* partie footer des paages du site */
.footer {
  width: 100%;
  padding: 2rem;
  background-color: #353535;
  display: flex;
  flex-direction: column;
  line-height: 4rem;
}
.footer__logo {
  margin-bottom: 3rem;
}
.footer__logo, .footer a, .footer i {
  color: #ffffff;
}

.footer i {
  margin-right: 1rem;
}

.fa-hands-helping {
  font-size: 1.5rem;
}

/* parti information et position */
.info {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.info__position {
  box-shadow: inset grey 0px 6px 6px -5px;
  background-color: #eaeaea;
  padding: 2rem;
  margin-bottom: 2rem;
}
.info__position > i {
  margin-right: 1rem;
}
.info__desc {
  padding: 20px;
}
.info__desc--grow-bolt {
  font-size: 2.7rem;
  font-weight: bold;
  padding-bottom: 1rem;
}
.info__desc p:nth-child(2) {
  color: grey;
  font-size: 1.8rem;
}
.info__btn {
  margin: 4rem 0 8rem 0;
}

/* description fontionnement du site */
.fonct {
  padding: 6rem 2rem;
}
.fonct__titre {
  font-size: 3rem;
  font-weight: bold;
}
.fonct__ordre__box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background-color: #f6f6f6;
  height: 7rem;
  margin: 2.8rem 0;
  border-radius: 1.8rem;
  box-shadow: grey 1px 1px 10px;
}
.fonct__ordre__box:hover {
  background-color: #f2eafb;
}
.fonct__ordre__box:hover > i {
  color: #9356DC;
}
.fonct__ordre__number {
  position: relative;
  left: -1rem;
  padding: 0.4rem;
  height: 2.5rem;
  width: 2.5rem;
  text-align: center;
  background-color: #9356DC;
  color: #f6f6f6;
  border-radius: 15px;
}
.fonct__ordre__icon {
  margin: 0 1.8rem;
  color: #9d9d9d;
}
.fonct__ordre__info {
  font-weight: bold;
  color: black !important;
}

/* section resto */
.resto {
  padding: 4rem 2rem;
  background-color: #f6f6f6;
}

/* Carte visuel des restos */
.prev-resto {
  display: inline-block;
  position: relative;
  margin: 1rem 0;
  width: 100%;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: grey 1px 1px 10px;
}
.prev-resto__cont {
  height: 70%;
}
.prev-resto__cont__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.prev-resto__info {
  padding: 2rem;
  position: relative;
  background-color: white;
}
.prev-resto__info__titre {
  font-size: 2rem;
}
.prev-resto__info__heart {
  right: 5%;
  top: 35%;
}
.prev-resto__new {
  display: inline-block;
  position: absolute;
  top: 5%;
  right: 5%;
  padding: 1rem;
  background-color: #99E2D0;
  color: #278870;
}

.menu {
  background-color: #f6f6f6;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 3rem;
}

/* contener image resto pour les page menu des resto*/
.cont {
  width: 100%;
  height: 250px;
}
.cont__img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}
.cont__info {
  position: relative;
  background-color: #f6f6f6;
  border-radius: 30px 30px 0 0;
  top: -3rem;
  height: 30%;
  padding: 2.6rem 2rem 0;
}
.cont__info__heart {
  right: 2rem;
  top: 3.1rem;
  font-size: 2.4rem;
}

.type-plat {
  width: 100%;
  padding: 0 2rem;
}
.type-plat__name {
  padding-bottom: 0.2rem;
}
.type-plat__underline {
  width: 4rem;
  height: 0.3rem;
  background-color: #99E2D0;
  margin-bottom: 1.2rem;
}

.box-plat {
  position: relative;
  opacity: 0;
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  background-color: white;
  border-radius: 15px;
  box-shadow: grey 1px 1px 10px;
  overflow: hidden;
}

.plat {
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 0.5rem;
  text-overflow: ellipsis;
}
.plat__name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.6rem;
}
.plat__info {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 300;
  font-size: 1.2rem;
}
.plat__ok {
  display: flex;
  width: 0px;
  height: 60px;
  border-radius: 0 15px 15px 0;
  background-color: #99E2D0;
}
.plat__ok i {
  font-size: 2.8rem;
  margin: auto;
  color: #99E2D0;
  background-color: white;
  border-radius: 50%;
}

.marg-btn {
  margin: 4rem auto;
  padding-left: 4rem;
  padding-right: 4rem;
}

/*# sourceMappingURL=style.css.map */
