*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

a{
    text-decoration: none;
    color: initial;
}

.container{
    max-width: 1440px;
    justify-self: center;
    width: 100%;
}

ol{
    list-style-type : none;
}
body{
    width: 100vw;
    display: flex;
    justify-content: center;
}
