body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}
.cont__info__name{
    font-family: 'Shrikhand', cursive;
    font-size: 2.4rem;
}

.type-plat__name{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.6rem;
}
.load_spinner{
    font-family: 'Shrikhand', cursive;
    font-size: 5rem;
}

.header__logo{
    font-family: 'Shrikhand', cursive;
    font-size: 3rem;
}
.footer__logo{
    font-family: 'Shrikhand', cursive;
    font-size: 2rem;
}
p{
    font-size: 1.6rem;
}
