@mixin btn {
    padding: 20px;
    margin: auto;
    height: 100%;
    font-size: 1.6rem;
    color: white;
    background: linear-gradient($color-secondary, $color-primary);
    border-radius: 30px;
    box-shadow: grey 0px 1px 5px ;
    &:hover{
        background: linear-gradient(lighten($color: $color-secondary, $amount: 5 ), lighten($color: $color-primary, $amount: 5 ));
        box-shadow: grey 1px 3px 12px ;
    }
}

@mixin heart {
    cursor: pointer;
    font-weight: 900!important;
    -webkit-background-clip: text;
    //background-clip: text;
    background-image: linear-gradient(to bottom left, $color-primary, $color-secondary);
    color: $color-background;
    -webkit-text-stroke: 1px black;
    position: absolute;
}

@mixin tablette {
    @media screen and (min-width : 600px) and (max-width: 1023px) {
        @content;      
    }
}
@mixin desktop {
    @media screen and (min-width : 1024px) {
        @content;      
    }
}