
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-footer: #353535;
$color-background: #f6f6f6;

$size-text: (
    logo : 3rem,
    resto : 4rem,
    plat : 3rem,
    text : 1.5rem,
    type-plat : 3.5rem
)

