/* partie footer des paages du site */
.footer{
    width: 100%;
    padding: 2rem;
    background-color:$color-footer;
    display: flex;
    flex-direction: column;
    line-height: 3rem;
    @include tablette{
        flex-flow: row wrap;
    }
    @include desktop{
        flex-flow: row wrap;
    }
    &__logo{
        width: 100%;
        font-weight: 500;
        margin-bottom: 2rem;
    }
    &__logo, a, i{
        color: #ffffff;
    }
    & a{
        margin-right: 2rem;
    }

}
.footer i{
    margin-right: 1rem;
}
.fa-hands-helping{
    font-size: 1.2rem;
}