/* parti header + bouton return */
.header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    &__return{
        position: absolute;
        font-size: 1.8rem;
        left: 1.5rem;
        
    }
}